@model IEnumerable<NetAtlas.Models.DemandeDAmis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amis1ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amis1ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                <a asp-action="InviteFriends" asp-route-id="@item.ID">InviteFriends</a> |
                 
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete friend</a>
            </td>
        </tr>
}
    </tbody>
</table>
